<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="d-flex justify-content-around p-4">
        <form action="/auth" method="POST">
            <div class="form-group">
              <label for="number" class="text-value font-weight-bold">Enter Number:</label>
              <input type="number" class="form-control" id="number" name="number">
            </div>
            <button type="submit" class="btn btn-primary">LogIn</button>
          </form>
      </div>
    </main>
  </body>
</html>
